.summary__header img {
  width: 2%;
}
.summary__table {
  display: inline-table;
}
tbody tr td {
  border-bottom: none;
}
.summary__table tbody tr td {
  text-transform: capitalize;
}
.summary__table h5 {
  text-decoration: none;
  color: #65a4d3;
}
#plus__icon {
  width: 4%;
}
.details__container {
  background-color: #ecf2f4;
}
