.card__details,
.card__footer {
  width: 18rem;
}
.first {
  display: flex;
  justify-content: space-between;
}
.card__details .first .name {
  text-transform: capitalize;
}
.price__original {
  text-decoration: line-through;
}
.card__footer button {
  width: inherit;
  border: 2px solid #65a4d3;
  padding-left: 5%;
  padding-right: 5%;
  background: transparent;
  color: #65a4d3;
  font-weight: 600;
  border-radius: 5px;
}
.price {
  font-weight: 700;
}
